.pokemon-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.pokemon-details .pokemon-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.pokemon-details .list-group-item {
  padding: .25rem;
}

.pokemon-details .list-group-item .term{
  margin-right: .5rem;
}

.list-group {
  margin-bottom: 1rem;
}